env
data
.pytest_cache
.idea
.ipynb_checkpoints
*.json
*.ini
.~*.ipynb
.ipynb
*.egg-info
.coverage
htmlcov/
__pycache__/
*.pyc
.gitignore
=6.0
*.md
install_talib.sh
tests/
docs/
notebook/
.github/
.git/
.*_cache/
venv/
